//exclude below files/dir

node_modules/*
reports/*
LT.exe
README.md
~/.config/google-chrome/First Run
~/.config/google-chrome/Local State
~/.config/google-chrome/Default/Preferences
lol.py
chromedriver.exe
